td {
    border: 1px solid blue;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 18px;
    
  }
  td:hover {
    background: gray;
    color: white;
    text-align: center;
    font-size: 18px;
  }
  table {
    border: 1px solid green;   
     background-color: lightblue; 
  }